@use 'navbar';
@use 'inicio';
@use 'caracteristicas';
@use 'nosotros';
@use 'ubicacion';
@use 'footer';

body {
  text-align: center;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}